@using LinqToSqlDemo.Data
@model LinqToSqlDemo.Models.IndexViewModel

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success">
        @Model.Message
    </div>
}
<a href="/home/add" class="btn btn-primary">Add Person</a>
<table class="table table-hover table-striped table-hover table-bordered">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    @foreach (Person person in Model.People)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.Age</td>
            <td>
                <a href="/home/edit?personid=@person.Id" class="btn btn-warning">Edit</a>
                <button data-loading-text="Deleting..." class="btn btn-danger delete" data-person-id="@person.Id">Delete</button>
            </td>
        </tr>
    }
</table>

@section scripts {
    
<script src="~/Scripts/index.js"></script>
}